*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.alert{
    position: fixed;
    top: 58px;
    height: 48px;
    width: 100%;
    display: none;
}
.display-alert{
    display: flex;
    justify-content: left;
}
h3{
    margin-left: 20px;
    font-size: 25px;
    padding-top: 4px;
}
p{
    margin-left: 20px;
    font-size: 20px;
    padding-top: 7px;
}
.success{
    background-color: rgb(148, 196, 76);
}
.failure{
    background-color: rgb(221, 68, 68);
}
.warning{
    background-color: rgb(228, 172, 69);
}
@media screen and (max-width:424px) {
    .alert{
        display: none;
    }
}


