*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    min-height: 100;
    margin-top: 58px;
    padding-top: 62px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgb(233, 236, 235);
}
.card{
    position: relative;
    background-color: rgb(189, 196, 175);
    height: 388px;
    width: 342px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.news-link{
    background-color: rgb(189, 196, 175);
    
}
.news-url-link{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: rgb(241, 42, 42);
    text-decoration: none;
    font-weight: 500;
}
.source-image-box{
    display: block;
    height: 200px;
    width: 100%;
    }
.source-name{
    height: 30px;
   background-color: rgb(189, 196, 175);
   padding-left: 3px;
   padding-right: 3px;
   display:flex;
   justify-content: flex-end;
   align-items: center;
   padding-bottom: 4px;       
    }
    .source-name{
        position: absolute;
        right: 0px;
    }

.author-flex,.publishedAt-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.description{
    background-color: aqua;
    height: 95px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
}
.author,.publishedOn{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
    font-weight: 500;
}
.author-name,.publish-Date{
    margin-right: 4px;
    padding-top: 4px;
}
.author-flex{
    height: 30px;
}
.author-name,.author{
    padding-bottom: 4px;
}
.publishedAt-flex{
    height: 30px;
}
@media screen and (max-width:744px) {
    .body{
        padding-top: 32px;
    }
    .card{
        margin-bottom: 10px;
    }
}
@media screen and (max-width:310px) {
    .source-image-box{
        height: 180px;
        }
        .card{
            height: 368px;
        }
}
@media screen and (max-width:301px) {
        .card{
            height: 338px;
        }
        .publishedAt-flex{
            display: none;
        }
    }
@media screen and (max-width:290px) {
    .source-image-box{
        height: 170px;
        }
        .card{
            height: 328px;
        }
}
@media screen and (max-width:270px) {
    .source-image-box{
        height: 160px;
        }
        .card{
            height: 318px;
        }
}

