*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    width: 100%;
    height: 58px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    text-align: center;
}