
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.hide-loading{
    display: none;
}
.show-loading{
    position: fixed;
    top: 200px;
    font-size: 40px;
    margin-left: 42vw;
    }
