
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.show-loading{
    position: fixed;
    height: 100px;
    width: 100%;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    }
    @media screen and (max-width:534px) {
        .show-loading{
            font-size: 30px;
        }
    }