*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(200, 214, 209);
    z-index: 1;
}
.heading{
    text-decoration: none;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 35px;
}
.logout{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-right: 0px;
    margin-left: 10px;
}
.login,.signup{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 18px;
    padding-top: 13px;
    margin-right: 0px;
}
.category{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.heading,.category,.logout{
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category:hover,.logout:hover,.heading:hover,.signup:hover,.login:hover{
     background-color: rgb(172, 194, 186);
     cursor: pointer;
}
.country:hover{
    cursor: pointer;
}
.empty{
    width:100%;
}
.category-dropdown{
    display: none;
}
.country-dropdown{
    display: flex;
    justify-content: center;
    height: 35px;
}
.country,.input{
    padding-left: 7px;
    padding-right: 5px;
}

.search-form{
    display: flex;
    justify-content: center;
    height: 35px;
    margin-left: 20px;
}
.news-category{
    padding-left: 5px;
    padding-right: 5px;
}
.input{
    margin-top:0px;
    height:35px;
    width:150px
}
@media screen and (max-width:1144px) {
    .category-dropdown{
        display: flex;
        justify-content: center;
        height: 35px;
    }
    .category{
        display: none;
    }
    .country-dropdown{
        margin-left: 20px;
    }  
    .logout{
        margin-left: 10px;
    }
   }

@media screen and (max-width:656px) {
    .input{
        display: none;
    }
    .logout{
        margin-left: 0px;
    }
}
@media screen and (max-width:504px) {
    .category-dropdown{
        display: none;
    }
}
@media screen and (max-width:382px) {
    .country-dropdown{
        display: none;
    }
}

