*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(227, 235, 232);
}
.heading{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 35px;
}
.logout{
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-right: 15px;
    margin-left: 20px;
}
.category{
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.heading,.category,.logout{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category:hover,.logout:hover,.heading:hover{
     background-color: rgb(205, 218, 213);
     cursor: pointer;
}
.country:hover{
    cursor: pointer;
}
.empty{
    width:100%;
}
.category-dropdown{
    display: none;
}
.country-dropdown{
    display: flex;
    justify-content: center;
    height: 35px;
}
.country,.input{
    padding-left: 7px;
    padding-right: 5px;
}
.search-form{
    display: flex;
    justify-content: center;
    height: 35px;
    margin-left: 20px;
}

@media screen and (max-width:1144px) {
    .category-dropdown{
        display: flex;
        justify-content: center;
        height: 35px;
    }
    .category{
        display: none;
    }
    .country-dropdown{
        margin-left: 20px;
    }
}
@media screen and (max-width:1144px) {
    .input{
        display: none;
    }
    .logout{
        margin-left: 0px;
    }
}
@media screen and (max-width:504px) {
    .category-dropdown{
        display: none;
    }
}
@media screen and (max-width:374px) {
    .country-dropdown{
        display: none;
    }
}

